img {
    margin-top: 0.5rem;
    width: auto;
    width: 40vh;
    margin-right: 3rem;
}

.about-the-author {
    display: flex;
    justify-content: space-between;
    padding: 2rem 30rem 10rem 30rem;
    h1 {
        padding-bottom: 1rem;
    }
}

.about-this-site {
    h1 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    text-align: center;
    ul {
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    li {
        list-style-type: none;
        padding: 2rem 0rem 1rem 0rem;
        font-size: 1.2rem;
    }
}

.libraries-used {
    padding: 0rem 40rem 10rem 40rem;
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}

.about {
    padding-top: 5rem;
}

.author-bio {
    display:flex;
    flex-direction: column;
    align-items: center;
    p {
        padding-bottom: 1rem;
    }
    button {
        justify-content: center;
        width: 15vh;
    }
}