html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  box-sizing: inherit;
=======
  a {
    text-decoration: none;
    color: black;
  }
>>>>>>> 6ba3e494b307b7aa43cd794e94caf63a6c420cd0
}

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  width: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  @media (min-width: 700px) {
    padding: 0 3rem;
  }
}
