button {
    background: #4ca1af;
    width: 25%;
    height: 3rem;
    padding: 0.8rem 0rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
    a {       //for NavLink component that creates an a tag.
        text-decoration: none;
        color: white;
    }
    &:hover {
        transition: all 0.5s ease;
        background: #37b95e;
    }
}

h4 {
    padding-top: 9rem;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.latest {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto," sans-serif
}

// tagline and banner section

.banner {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 10rem;
}

.tag-line {
    flex: 1;
    padding-right: 5rem;
    h2{
        font-size: 3rem;
        font-weight: lighter;
    }
    p {
        padding-top: 1.9rem;
        padding-bottom: 2.5rem;
        font-size: 1.4rem;
        span {
            font-weight: 700;
            color: #4ca1af;
        }
    }
}

.img-container {
    padding-left: 10rem;
    flex: 1;
    // overflow: hidden;
    img{
        width: 54vh;
        height: 72vh;
        object-fit: cover;
    }
}
