* {
    font-family: "Roboto", sans-serif;
}

footer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h1 {
        font-family: "Sacramento", cursive;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        display:flex;
        justify-content: space-between;
        padding: 2rem;
    }
}